header#header{
  @extend .container-fluid;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
  padding: 20px 0;


  span.logo{
    display: block;
    margin: 0 auto;
    @media (min-width: $screen-md-min) {
      float: left;
    }
    img{
      display: block;
      margin: 0 auto;
    }
  }

  .contactInfo{
    display: block;
    text-align: center;

    h2{
      margin: 0;
    }

    @media (min-width: $screen-md-min) {
      float: right;
    }
  }
}


